/* Coloca o campo em foco com fundo levemente amarelado */
input:focus, textarea:focus {
    background-color: #FFD;
}

form {
    margin-top: 3rem;
    font-family: 'Mina', sans-serif;
}

label {
    padding: .25rem;
    padding-left: 0px;
}
/* As tags <label> que têm o atributo "for" são os rótulos dos campos */
label[for] {
    display: block;
}

/* Seleciona apenas os campos de texto */
input[type="text"],input[type="number"], input[type="email"], textarea {
    /* Força o navegador a usar a mesma fonte da página */
    font-family: inherit;
    /* Inclusive o tamanho dela */
    font-size: 100%;
    padding: .25rem .5rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: 0 0;
}

fieldset {
    width: 48%;
}

#contact-box {
    margin: auto;
    width: 80%;
}

#formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#botao-enviar {
    background-color: #00b2e3;
    width: 6rem;
    padding: .2rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
}

#mensagem-erro {
    color: red;
}

