#bg-dash {
    background-image: url("../imagens/background_dash.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.intro-flexbox {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 3rem;
}

.box-video {
	width: 40%;
}

.box-texto {
	width: 58%;
}

.box-texto h2 {
	text-align: center;
	margin-bottom: 3rem;
}

.box-texto p {
	padding-bottom: 1rem;
}

/* flexbox img*/
.acc-dash-card {
	margin-top: 2rem;
}
.acc-dash-card > div {
	width: 260px;
}

.acc-dash-card p {
	font-size: .8rem;
	margin: 0;
	padding: 0;
}

.txt-card-dash {
	height: 2.5rem;
}

.txt-card-dash h3 {
	text-transform: uppercase;
    font-family: 'Mina', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

