#bg-dash {
    background-image: url("../imagens/background_chip.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.intro-flexbox {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 2rem;
}

.box-video {
	width: 40%;
}

.box-texto {
	width: 58%;
}

.box-texto h2 {
	text-align: center;
	margin-bottom: 3rem;
}

.box-texto p {
	padding-bottom: 1rem;
}