body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    font-size: 1.2rem;
}

#navbar {
    background-color: #141414;
    width: 100%;
}

nav {
    font-family: "Arial", 'Roboto Condensed', sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    padding: .7rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    box-sizing: border-box;
}

nav a:hover {
    font-weight: bold;
    background: #358989;
    border-right: 5px solid #2B6F6F;
}

footer {
    width: 100%;
    color: #FFF;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #141414;
    padding: 2rem;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    padding-top: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-weight: bold;
}

b {
    font-weight: bold;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* HOME */

.tituto-inicial {
    font-size: 1.6rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    color: #F5F5F5;
    margin-left: 2rem;
}

#conteiner-home {
    width: 80%;
    margin: auto;
}

#tabela-fonte {
    margin: 0;
    text-align: center;
    font-size: 15px;
    font-style: italic;
}

table {
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

table td, table th {
    padding: 1rem;
    border: 2px solid #FFF;
}

table tr {
    background-color: #8BE2EB;
}

table tr:nth-child(even){background-color: #74BDC4;}

table tr:hover {background-color: #5D999E; font-weight: bold}

table th {
    padding: .7rem;
    background-color: #353535;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

#bg-home {
    background-image: url("../imagens/background_home.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

#box-card-home {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 4rem;
    margin-left: auto;
    margin-right: auto;
}

#box-card-home > div {
    text-align: center;
    width: 45%;
    box-shadow: 0 .5rem 1.2rem 0 rgba(0,0,0, .5);
}

#box-card-home > div:hover {
    box-shadow: 0 .5rem 1.5rem 0 rgba(0,0,0, .7);
}

.r-card-link {
    font-size: 1.7rem;
    padding: .8rem;
    background: #3FA3A3;
}

#box-card-home a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Mina', sans-serif;
    font-weight: bold;
}

#box-card-home a:hover {
    text-shadow: 0 .1rem .2rem rgba(0,0,0, .8);
}

/* Fim Home */

