#navbar {
    background-color: #141414;
    width: 100%;
}

nav {
    font-family: "Arial", sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    padding: .7rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    box-sizing: border-box;
}

nav a:hover {
    font-weight: bold;
    background: #358989;
    border-right: 5px solid #2B6F6F;
}

footer {
    width: 100%;
    color: #FFF;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #141414;
    padding: 2rem;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-weight: bold;
}






section a{
    font-size: 20px;
}

p {
    font-size: 125%;
}

#tabela01-fonte {
    margin: 0;
    text-align: center;
    font-size: 15px;
    font-style: italic;
}

table {
    margin: auto;
}