#navbar {
    background-color: black;
    width: 100%;
}

nav {
    font-family: "Arial", sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    padding: .7rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    box-sizing: border-box;
}

nav a:hover {
    font-weight: bold;
    background: #358989;
    border-right: 5px solid #2B6F6F;
}




.tituto-inicial {
    font-size: 40px;
    text-align: center;
    font-style: italic;
    font-family: 'Bevan', cursive;
}




section a{
    font-size: 20px;
}

p {
    font-size: 125%;
}

#tabela01-fonte {
    margin: 0;
    text-align: center;
    font-size: 15px;
    font-style: italic;
}

section {
    margin-bottom: 50px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}

.centralizado {
    text-align: center;
}

.marginbottomzero {
    margin-bottom: 0;
}

.marginzero {
    margin: 0;
    padding: 0;
}

video {
    margin: 0 auto;
    display: block;
}

table {
    margin: auto;
}