body, html {
    height: 100%;
    margin: 0;
}

#navbar {
    background-color: #141414;
    width: 100%;
}

nav {
    font-family: "Arial", sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    padding: .7rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    box-sizing: border-box;
}

nav a:hover {
    font-weight: bold;
    background: #358989;
    border-right: 5px solid #2B6F6F;
}

footer {
    width: 100%;
    color: #FFF;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #141414;
    padding: 2rem;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    padding-top: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-weight: bold;
}

b {
    font-weight: bold;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#conteiner-home {
    width: 80%;
    margin: auto;
}

#tabela-fonte {
    margin: 0;
    text-align: center;
    font-size: 15px;
    font-style: italic;
}

table {
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

table td, table th {
    padding: 1rem;
    border: 2px solid #FFF;
}

table tr {
    background-color: #8BE2EB;
}

table tr:nth-child(even){background-color: #74BDC4;}

table tr:hover {background-color: #5D999E; font-weight: bold}

table th {
    padding: .7rem;
    background-color: #353535;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

#bg-home {
    background-image: url("imagens/background_home.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}
